body {
	margin: 0;
	height: 1000vh;
	cursor: url(Huge.cur),auto;
	background: rgb(27,27,27,);
}

.cursor {
	width: 5000px;
	height: 5000px;
	border: 1000px solid white;
	border-radius: 50%;
	position: absolute;
}

div.a {
  font-size: 15px;
}